<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../../static/tailwind-output.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <script
      src="https://cdn.plot.ly/plotly-latest.min.js"
      charset="utf-8"
    ></script>
    <title>Glu.ui - Diabetes Management</title>
  </head>
  <body class="flex flex-col h-screen justify-stretch bg-slate-100">
    <header>
      <div class="flex items-center justify-between bg-slate-200 w-screen[-2] m-1 rounded-lg shadow">
        <div class="flex items-center">
          <a href="#home">
            <img src="../../static/pinglu_transparent.png" class="m-2 rounded-lg size-20" />
          </a>
          <h1 class="text-4xl text-slate-600 font-semibold">
            Glu.ui/Iglu
          </h1>
        </div>
        <div class="flex flex-row">
          <div class="m-1 bg-cyan-500 rounded-xl h-8 w-32 text-center group hover:bg-cyan-200 shadow">
            <a href="#menu-item-1" class="text-slate-200 group-hover:text-slate-600 text-center align-middle">
              Log in
            </a>
          </div>          
          <div class="m-1 bg-cyan-500 rounded-xl h-8 w-32 text-center group hover:bg-cyan-200 shadow">
            <a href="#menu-item-1" class="text-slate-200 group-hover:text-slate-600 text-center align-middle">
              Sign up
            </a>
          </div>
        </div>
      </div>
    </header>
    <main class="flex-grow flex">
      <nav class="ml-1 mr-1 mb-1 flex-initial top-0 right-0 w-fit bg-slate-300 rounded-lg shadow">
        <div class="flex flex-col gap-4">
          <div class="m-1 bg-cyan-500 rounded-xl h-8 w-32 text-center group hover:bg-cyan-200 shadow">
            <a href="#menu-item-1" class="text-slate-200 group-hover:text-slate-600 text-center align-middle">
              Graph
            </a>
          </div>
          <div class="m-1 bg-cyan-500 rounded-xl h-8 w-32 text-center group hover:bg-cyan-200 shadow">
            <a href="#menu-item-2" class="text-slate-200 group-hover:text-slate-600 text-center align-middle">
              Table
            </a>
          </div>
          <div class="m-1 bg-cyan-500 rounded-xl h-8 w-32 text-center group hover:bg-cyan-200 shadow">
            <a href="#menu-item-3" class="text-slate-200 group-hover:text-slate-600 text-center align-middle">
              Treatments
            </a>
          </div>
        </div>
      </nav>
      <div class="mr-1 mb-1 flex flex-grow bg-slate-200 rounded-lg shadow p-2 h-min-80 gap-2">
        <div class="border-dashed border-2 border-red-400 flex-grow">
          <div class="m-2 flex-initial top-0 right-0 bg-slate-300 rounded-lg shadow p-1">
            <div
              id="05157df0-c8a6-41fd-8480-a60e5820656c"
              class="plotly-graph-div overflow-auto"
            ></div>
          </div>
        </div>
        <script type="text/javascript">
          window.PLOTLYENV = window.PLOTLYENV || {};
          if (document.getElementById("05157df0-c8a6-41fd-8480-a60e5820656c")) {
            Plotly.newPlot(
              "05157df0-c8a6-41fd-8480-a60e5820656c",
              [
                {
                  x: [
                    "2024-02-18T12:00:00",
                    "2024-02-18T12:01:00",
                    "2024-02-18T12:02:00",
                    "2024-02-18T12:03:00",
                    "2024-02-18T12:04:00",
                    "2024-02-18T12:05:00",
                    "2024-02-18T12:06:00",
                    "2024-02-18T12:07:00",
                    "2024-02-18T12:08:00",
                    "2024-02-18T12:09:00",
                    "2024-02-18T12:10:00",
                    "2024-02-18T12:11:00",
                    "2024-02-18T12:12:00",
                    "2024-02-18T12:13:00",
                    "2024-02-18T12:14:00",
                    "2024-02-18T12:15:00",
                    "2024-02-18T12:16:00",
                    "2024-02-18T12:17:00",
                    "2024-02-18T12:18:00",
                    "2024-02-18T12:19:00",
                    "2024-02-18T12:20:00",
                    "2024-02-18T12:21:00",
                    "2024-02-18T12:22:00",
                    "2024-02-18T12:23:00",
                    "2024-02-18T12:24:00",
                    "2024-02-18T12:25:00",
                    "2024-02-18T12:26:00",
                    "2024-02-18T12:27:00",
                    "2024-02-18T12:28:00",
                    "2024-02-18T12:29:00",
                    "2024-02-18T12:30:00",
                    "2024-02-18T12:31:00",
                    "2024-02-18T12:32:00",
                    "2024-02-18T12:33:00",
                    "2024-02-18T12:34:00",
                    "2024-02-18T12:35:00",
                    "2024-02-18T12:36:00",
                    "2024-02-18T12:37:00",
                    "2024-02-18T12:38:00",
                    "2024-02-18T12:39:00",
                    "2024-02-18T12:40:00",
                    "2024-02-18T12:41:00",
                    "2024-02-18T12:42:00",
                    "2024-02-18T12:43:00",
                    "2024-02-18T12:44:00",
                    "2024-02-18T12:45:00",
                    "2024-02-18T12:46:00",
                    "2024-02-18T12:47:00",
                    "2024-02-18T12:48:00",
                    "2024-02-18T12:49:00",
                    "2024-02-18T12:50:00",
                    "2024-02-18T12:51:00",
                    "2024-02-18T12:52:00",
                    "2024-02-18T12:53:00",
                    "2024-02-18T12:54:00",
                    "2024-02-18T12:55:00",
                    "2024-02-18T12:56:00",
                    "2024-02-18T12:57:00",
                    "2024-02-18T12:58:00",
                    "2024-02-18T12:59:00",
                    "2024-02-18T13:00:00",
                    "2024-02-18T13:01:00",
                    "2024-02-18T13:02:00",
                    "2024-02-18T13:03:00",
                    "2024-02-18T13:04:00",
                    "2024-02-18T13:05:00",
                    "2024-02-18T13:06:00",
                    "2024-02-18T13:07:00",
                    "2024-02-18T13:08:00",
                    "2024-02-18T13:09:00",
                    "2024-02-18T13:10:00",
                    "2024-02-18T13:11:00",
                    "2024-02-18T13:12:00",
                    "2024-02-18T13:13:00",
                    "2024-02-18T13:14:00",
                    "2024-02-18T13:15:00",
                    "2024-02-18T13:16:00",
                    "2024-02-18T13:17:00",
                    "2024-02-18T13:18:00",
                    "2024-02-18T13:19:00",
                    "2024-02-18T13:20:00",
                    "2024-02-18T13:21:00",
                    "2024-02-18T13:22:00",
                    "2024-02-18T13:23:00",
                    "2024-02-18T13:24:00",
                    "2024-02-18T13:25:00",
                    "2024-02-18T13:26:00",
                    "2024-02-18T13:27:00",
                    "2024-02-18T13:28:00",
                    "2024-02-18T13:29:00",
                    "2024-02-18T13:30:00",
                    "2024-02-18T13:31:00",
                    "2024-02-18T13:32:00",
                    "2024-02-18T13:33:00",
                    "2024-02-18T13:34:00",
                    "2024-02-18T13:35:00",
                    "2024-02-18T13:36:00",
                    "2024-02-18T13:37:00",
                    "2024-02-18T13:38:00",
                    "2024-02-18T13:39:00",
                    "2024-02-18T13:40:00",
                    "2024-02-18T13:41:00",
                    "2024-02-18T13:42:00",
                    "2024-02-18T13:43:00",
                    "2024-02-18T13:44:00",
                    "2024-02-18T13:45:00",
                    "2024-02-18T13:46:00",
                    "2024-02-18T13:47:00",
                    "2024-02-18T13:48:00",
                    "2024-02-18T13:49:00",
                    "2024-02-18T13:50:00",
                    "2024-02-18T13:51:00",
                    "2024-02-18T13:52:00",
                    "2024-02-18T13:53:00",
                    "2024-02-18T13:54:00",
                    "2024-02-18T13:55:00",
                    "2024-02-18T13:56:00",
                    "2024-02-18T13:57:00",
                    "2024-02-18T13:58:00",
                    "2024-02-18T13:59:00",
                    "2024-02-18T14:00:00",
                    "2024-02-18T14:01:00",
                    "2024-02-18T14:02:00",
                    "2024-02-18T14:03:00",
                    "2024-02-18T14:04:00",
                    "2024-02-18T14:05:00",
                    "2024-02-18T14:06:00",
                    "2024-02-18T14:07:00",
                    "2024-02-18T14:08:00",
                    "2024-02-18T14:09:00",
                    "2024-02-18T14:10:00",
                    "2024-02-18T14:11:00",
                    "2024-02-18T14:12:00",
                    "2024-02-18T14:13:00",
                    "2024-02-18T14:14:00",
                    "2024-02-18T14:15:00",
                    "2024-02-18T14:16:00",
                    "2024-02-18T14:17:00",
                    "2024-02-18T14:18:00",
                    "2024-02-18T14:19:00",
                    "2024-02-18T14:20:00",
                    "2024-02-18T14:21:00",
                    "2024-02-18T14:22:00",
                    "2024-02-18T14:23:00",
                    "2024-02-18T14:24:00",
                    "2024-02-18T14:25:00",
                    "2024-02-18T14:26:00",
                    "2024-02-18T14:27:00",
                    "2024-02-18T14:28:00",
                    "2024-02-18T14:29:00",
                    "2024-02-18T14:30:00",
                    "2024-02-18T14:31:00",
                    "2024-02-18T14:32:00",
                    "2024-02-18T14:33:00",
                    "2024-02-18T14:34:00",
                    "2024-02-18T14:35:00",
                    "2024-02-18T14:36:00",
                    "2024-02-18T14:37:00",
                    "2024-02-18T14:38:00",
                    "2024-02-18T14:39:00",
                    "2024-02-18T14:40:00",
                    "2024-02-18T14:41:00",
                    "2024-02-18T14:42:00",
                    "2024-02-18T14:43:00",
                    "2024-02-18T14:44:00",
                    "2024-02-18T14:45:00",
                    "2024-02-18T14:46:00",
                    "2024-02-18T14:47:00",
                    "2024-02-18T14:48:00",
                    "2024-02-18T14:49:00",
                    "2024-02-18T14:50:00",
                    "2024-02-18T14:51:00",
                    "2024-02-18T14:52:00",
                    "2024-02-18T14:53:00",
                    "2024-02-18T14:54:00",
                    "2024-02-18T14:55:00",
                    "2024-02-18T14:56:00",
                    "2024-02-18T14:57:00",
                    "2024-02-18T14:58:00",
                    "2024-02-18T14:59:00",
                    "2024-02-18T15:00:00",
                    "2024-02-18T15:01:00",
                    "2024-02-18T15:02:00",
                    "2024-02-18T15:03:00",
                    "2024-02-18T15:04:00",
                    "2024-02-18T15:05:00",
                    "2024-02-18T15:06:00",
                    "2024-02-18T15:07:00",
                    "2024-02-18T15:08:00",
                    "2024-02-18T15:09:00",
                    "2024-02-18T15:10:00",
                    "2024-02-18T15:11:00",
                    "2024-02-18T15:12:00",
                    "2024-02-18T15:13:00",
                    "2024-02-18T15:14:00",
                    "2024-02-18T15:15:00",
                    "2024-02-18T15:16:00",
                    "2024-02-18T15:17:00",
                    "2024-02-18T15:18:00",
                    "2024-02-18T15:19:00",
                    "2024-02-18T15:20:00",
                    "2024-02-18T15:21:00",
                    "2024-02-18T15:22:00",
                    "2024-02-18T15:23:00",
                    "2024-02-18T15:24:00",
                    "2024-02-18T15:25:00",
                    "2024-02-18T15:26:00",
                    "2024-02-18T15:27:00",
                    "2024-02-18T15:28:00",
                    "2024-02-18T15:29:00",
                    "2024-02-18T15:30:00",
                    "2024-02-18T15:31:00",
                    "2024-02-18T15:32:00",
                    "2024-02-18T15:33:00",
                    "2024-02-18T15:34:00",
                    "2024-02-18T15:35:00",
                    "2024-02-18T15:36:00",
                    "2024-02-18T15:37:00",
                    "2024-02-18T15:38:00",
                    "2024-02-18T15:39:00",
                    "2024-02-18T15:40:00",
                    "2024-02-18T15:41:00",
                    "2024-02-18T15:42:00",
                    "2024-02-18T15:43:00",
                    "2024-02-18T15:44:00",
                    "2024-02-18T15:45:00",
                    "2024-02-18T15:46:00",
                    "2024-02-18T15:47:00",
                    "2024-02-18T15:48:00",
                    "2024-02-18T15:49:00",
                    "2024-02-18T15:50:00",
                    "2024-02-18T15:51:00",
                    "2024-02-18T15:52:00",
                    "2024-02-18T15:53:00",
                    "2024-02-18T15:54:00",
                    "2024-02-18T15:55:00",
                    "2024-02-18T15:56:00",
                    "2024-02-18T15:57:00",
                    "2024-02-18T15:58:00",
                    "2024-02-18T15:59:00",
                    "2024-02-18T16:00:00",
                    "2024-02-18T16:01:00",
                    "2024-02-18T16:02:00",
                    "2024-02-18T16:03:00",
                    "2024-02-18T16:04:00",
                    "2024-02-18T16:05:00",
                    "2024-02-18T16:06:00",
                    "2024-02-18T16:07:00",
                    "2024-02-18T16:08:00",
                    "2024-02-18T16:09:00",
                    "2024-02-18T16:10:00",
                    "2024-02-18T16:11:00",
                    "2024-02-18T16:12:00",
                    "2024-02-18T16:13:00",
                    "2024-02-18T16:14:00",
                    "2024-02-18T16:15:00",
                    "2024-02-18T16:16:00",
                    "2024-02-18T16:17:00",
                    "2024-02-18T16:18:00",
                    "2024-02-18T16:19:00",
                    "2024-02-18T16:20:00",
                    "2024-02-18T16:21:00",
                    "2024-02-18T16:22:00",
                    "2024-02-18T16:23:00",
                    "2024-02-18T16:24:00",
                    "2024-02-18T16:25:00",
                    "2024-02-18T16:26:00",
                    "2024-02-18T16:27:00",
                    "2024-02-18T16:28:00",
                    "2024-02-18T16:29:00",
                    "2024-02-18T16:30:00",
                    "2024-02-18T16:31:00",
                    "2024-02-18T16:32:00",
                    "2024-02-18T16:33:00",
                    "2024-02-18T16:34:00",
                    "2024-02-18T16:35:00",
                    "2024-02-18T16:36:00",
                    "2024-02-18T16:37:00",
                    "2024-02-18T16:38:00",
                    "2024-02-18T16:39:00",
                    "2024-02-18T16:40:00",
                    "2024-02-18T16:41:00",
                    "2024-02-18T16:42:00",
                    "2024-02-18T16:43:00",
                    "2024-02-18T16:44:00",
                    "2024-02-18T16:45:00",
                    "2024-02-18T16:46:00",
                    "2024-02-18T16:47:00",
                    "2024-02-18T16:48:00",
                    "2024-02-18T16:49:00",
                    "2024-02-18T16:50:00",
                    "2024-02-18T16:51:00",
                    "2024-02-18T16:52:00",
                    "2024-02-18T16:53:00",
                    "2024-02-18T16:54:00",
                    "2024-02-18T16:55:00",
                    "2024-02-18T16:56:00",
                    "2024-02-18T16:57:00",
                    "2024-02-18T16:58:00",
                    "2024-02-18T16:59:00",
                  ],
                  y: [
                    11.0, 10.45, 11.25, 11.0, 11.75, 11.35, 11.75, 12.0, 12.2,
                    12.3, 13.05, 12.3, 12.45,
                    11.8, 12.2, 11.65, 11.8, 11.95, 11.85, 12.6, 12.6,
                    12.2, 12.75, 12.1, 11.85, 11.55, 10.8,
                    11.2, 11.14, 10.7, 10.45,
                    11.4, 11.8, 12.1, 12.75, 12.8, 12.3,
                    12.6, 12.3, 12.45, 12.2, 12.6, 12.6,
                    13.1, 13.85, 14.25, 15.14, 13.75, 13.8,
                    15.0, 14.15, 15.14, 14.2, 14.25, 14.7,
                    15.0, 14.6, 14.7, 14.6, 14.7, 13.95,
                    13.64, 14.2, 14.7, 15.348, 15.0, 14.45,
                    14.65, 14.08, 13.45, 12.7, 12.9, 13.2, 13.1, 13.0,
                    13.5, 13.7, 12.7, 12.14, 11.8, 12.9,
                    12.75, 12.9, 12.95, 12.75, 13.0, 13.1, 12.2, 12.35, 12.5, 11.8,
                    10.95, 11.5, 11.95, 11.85, 11.6, 11.6, 10.7, 10.95,
                    10.85, 11.0, 10.05, 9.25, 9.0, 8.4, 8.75, 8.5, 8.75, 9.1, 9.15,
                    8.54, 8.45, 7.85, 8.45, 8.8, 9.0, 9.2,
                    10.25, 10.3, 8.95, 8.8, 9.2, 8.85,
                    8.25, 8.45, 8.64, 9.25, 8.95, 9.2, 9.2, 8.95,
                    8.8, 10.1, 10.25, 11.04,
                    10.64, 10.4, 10.35, 10.0, 9.25, 9.05, 8.75,
                    7.85, 8.6, 8.6, 8.8,
                    7.94, 7.94, 7.85, 7.75,
                    7.94, 7.5, 7.44, 6.85, 7.05, 6.75, 7.5,
                    6.85, 6.04, 5.4, 5.6,
                    5.6, 5.145, 5.64,
                    6.94, 7.35, 7.8, 8.64,
                    8.95, 9.2, 9.85, 10.05, 9.7, 9.6,
                    9.45, 9.2, 9.2, 8.04, 7.85,
                    8.04, 7.6, 8.7, 9.5, 9.54, 9.0, 8.85,
                    9.1, 8.45, 8.04, 9.0, 8.5, 8.54, 8.25,
                    8.4, 8.4, 7.6, 7.05, 6.44, 6.145,
                    6.645, 7.05, 6.645, 7.1,
                    7.35, 6.7, 6.25, 6.5, 6.75,
                    6.1, 5.6, 5.,
                    6.645, 7.145, 6.85, 6.5,
                    6.25, 5.05, 5.45, 5.64, 5.85, 5.94, 5.3,
                    5.74, 5.45, 5.85, 5.6, 6.25,
                    5.7, 5.94, 5.145, 4.85,
                    5.1, 5.145, 4.6, 4.0,
                    5.1, 5.35, 5.35, 4.85, 5.05,
                    4.54, 4.0, 4.1, 4.74, 5.55,
                    5.64, 5.4, 5.1, 4.94, 5.35,
                    5.145, 6.1, 5.6, 5.5,
                    5.6, 4.85, 4.645, 4.645,
                    4.3, 4.44, 5.05, 5.6,
                    5.6, 5.6, 5.3, 5.1,
                    4.54, 4.15, 4.6, 4.94,
                    5.45, 5.6, 5.55, 5.94,
                    5.64, 5.55, 4.6, 4.25, 4.35, 4.85,
                    4.85, 4.4, 4.1, 4.05,
                    4.44, 4.25, 4.3, 3.947,
                    4.6, 4.85, 4.25, 4.0, 4.05, 3.0, 3.443,
                    4.05, 3.56, "null", 3.645,
                    4.1,
                  ],
                  type: "scatter",
                },
              ],
              {
                template: {
                  data: {
                    histogram2dcontour: [
                      {
                        type: "histogram2dcontour",
                        colorbar: { outlinewidth: 0, ticks: "" },
                        colorscale: [
                          [0.0, "#0d0887"],
                          [0.1111111111111111, "#46039f"],
                          [0.2222222222222222, "#7201a8"],
                          [0.3333333333333333, "#9c179e"],
                          [0.4444444444444444, "#bd3786"],
                          [0.5555555555555556, "#d8576b"],
                          [0.6666666666666666, "#ed7953"],
                          [0.7777777777777778, "#fb9f3a"],
                          [0.8888888888888888, "#fdca26"],
                          [1.0, "#f0f921"],
                        ],
                      },
                    ],
                    choropleth: [
                      {
                        type: "choropleth",
                        colorbar: { outlinewidth: 0, ticks: "" },
                      },
                    ],
                    histogram2d: [
                      {
                        type: "histogram2d",
                        colorbar: { outlinewidth: 0, ticks: "" },
                        colorscale: [
                          [0.0, "#0d0887"],
                          [0.1111111111111111, "#46039f"],
                          [0.2222222222222222, "#7201a8"],
                          [0.3333333333333333, "#9c179e"],
                          [0.4444444444444444, "#bd3786"],
                          [0.5555555555555556, "#d8576b"],
                          [0.6666666666666666, "#ed7953"],
                          [0.7777777777777778, "#fb9f3a"],
                          [0.8888888888888888, "#fdca26"],
                          [1.0, "#f0f921"],
                        ],
                      },
                    ],
                    heatmap: [
                      {
                        type: "heatmap",
                        colorbar: { outlinewidth: 0, ticks: "" },
                        colorscale: [
                          [0.0, "#0d0887"],
                          [0.1111111111111111, "#46039f"],
                          [0.2222222222222222, "#7201a8"],
                          [0.3333333333333333, "#9c179e"],
                          [0.4444444444444444, "#bd3786"],
                          [0.5555555555555556, "#d8576b"],
                          [0.6666666666666666, "#ed7953"],
                          [0.7777777777777778, "#fb9f3a"],
                          [0.8888888888888888, "#fdca26"],
                          [1.0, "#f0f921"],
                        ],
                      },
                    ],
                    heatmapgl: [
                      {
                        type: "heatmapgl",
                        colorbar: { outlinewidth: 0, ticks: "" },
                        colorscale: [
                          [0.0, "#0d0887"],
                          [0.1111111111111111, "#46039f"],
                          [0.2222222222222222, "#7201a8"],
                          [0.3333333333333333, "#9c179e"],
                          [0.4444444444444444, "#bd3786"],
                          [0.5555555555555556, "#d8576b"],
                          [0.6666666666666666, "#ed7953"],
                          [0.7777777777777778, "#fb9f3a"],
                          [0.8888888888888888, "#fdca26"],
                          [1.0, "#f0f921"],
                        ],
                      },
                    ],
                    contourcarpet: [
                      {
                        type: "contourcarpet",
                        colorbar: { outlinewidth: 0, ticks: "" },
                      },
                    ],
                    contour: [
                      {
                        type: "contour",
                        colorbar: { outlinewidth: 0, ticks: "" },
                        colorscale: [
                          [0.0, "#0d0887"],
                          [0.1111111111111111, "#46039f"],
                          [0.2222222222222222, "#7201a8"],
                          [0.3333333333333333, "#9c179e"],
                          [0.4444444444444444, "#bd3786"],
                          [0.5555555555555556, "#d8576b"],
                          [0.6666666666666666, "#ed7953"],
                          [0.7777777777777778, "#fb9f3a"],
                          [0.8888888888888888, "#fdca26"],
                          [1.0, "#f0f921"],
                        ],
                      },
                    ],
                    surface: [
                      {
                        type: "surface",
                        colorbar: { outlinewidth: 0, ticks: "" },
                        colorscale: [
                          [0.0, "#0d0887"],
                          [0.1111111111111111, "#46039f"],
                          [0.2222222222222222, "#7201a8"],
                          [0.3333333333333333, "#9c179e"],
                          [0.4444444444444444, "#bd3786"],
                          [0.5555555555555556, "#d8576b"],
                          [0.6666666666666666, "#ed7953"],
                          [0.7777777777777778, "#fb9f3a"],
                          [0.8888888888888888, "#fdca26"],
                          [1.0, "#f0f921"],
                        ],
                      },
                    ],
                    mesh3d: [
                      { type: "mesh3d", colorbar: { outlinewidth: 0, ticks: "" } },
                    ],
                    scatter: [
                      {
                        fillpattern: { fillmode: "overlay", size: 10, solidity: 0.2 },
                        type: "scatter",
                      },
                    ],
                    parcoords: [
                      {
                        type: "parcoords",
                        line: { colorbar: { outlinewidth: 0, ticks: "" } },
                      },
                    ],
                    scatterpolargl: [
                      {
                        type: "scatterpolargl",
                        marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                      },
                    ],
                    bar: [
                      {
                        error_x: { color: "#2a3f5f" },
                        error_y: { color: "#2a3f5f" },
                        marker: {
                          line: { color: "#E5ECF6", width: 0.5 },
                          pattern: { fillmode: "overlay", size: 10, solidity: 0.2 },
                        },
                        type: "bar",
                      },
                    ],
                    scattergeo: [
                      {
                        type: "scattergeo",
                        marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                      },
                    ],
                    scatterpolar: [
                      {
                        type: "scatterpolar",
                        marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                      },
                    ],
                    histogram: [
                      {
                        marker: {
                          pattern: { fillmode: "overlay", size: 10, solidity: 0.2 },
                        },
                        type: "histogram",
                      },
                    ],
                    scattergl: [
                      {
                        type: "scattergl",
                        marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                      },
                    ],
                    scatter3d: [
                      {
                        type: "scatter3d",
                        line: { colorbar: { outlinewidth: 0, ticks: "" } },
                        marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                      },
                    ],
                    scattermapbox: [
                      {
                        type: "scattermapbox",
                        marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                      },
                    ],
                    scatterternary: [
                      {
                        type: "scatterternary",
                        marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                      },
                    ],
                    scattercarpet: [
                      {
                        type: "scattercarpet",
                        marker: { colorbar: { outlinewidth: 0, ticks: "" } },
                      },
                    ],
                    carpet: [
                      {
                        aaxis: {
                          endlinecolor: "#2a3f5f",
                          gridcolor: "white",
                          linecolor: "white",
                          minorgridcolor: "white",
                          startlinecolor: "#2a3f5f",
                        },
                        baxis: {
                          endlinecolor: "#2a3f5f",
                          gridcolor: "white",
                          linecolor: "white",
                          minorgridcolor: "white",
                          startlinecolor: "#2a3f5f",
                        },
                        type: "carpet",
                      },
                    ],
                    table: [
                      {
                        cells: {
                          fill: { color: "#EBF0F8" },
                          line: { color: "white" },
                        },
                        header: {
                          fill: { color: "#C8D4E3" },
                          line: { color: "white" },
                        },
                        type: "table",
                      },
                    ],
                    barpolar: [
                      {
                        marker: {
                          line: { color: "#E5ECF6", width: 0.5 },
                          pattern: { fillmode: "overlay", size: 10, solidity: 0.2 },
                        },
                        type: "barpolar",
                      },
                    ],
                    pie: [{ automargin: true, type: "pie" }],
                  },
                  layout: {
                    autotypenumbers: "strict",
                    colorway: [
                      "#636efa",
                      "#EF553B",
                      "#00cc96",
                      "#ab63fa",
                      "#FFA15A",
                      "#19d3f3",
                      "#FF6692",
                      "#B6E880",
                      "#FF97FF",
                      "#FECB52",
                    ],
                    font: { color: "#2a3f5f" },
                    hovermode: "closest",
                    hoverlabel: { align: "left" },
                    paper_bgcolor: "transparent",
                    plot_bgcolor: "#E5ECF6",
                    polar: {
                      bgcolor: "#E5ECF6",
                      angularaxis: {
                        gridcolor: "white",
                        linecolor: "white",
                        ticks: "",
                      },
                      radialaxis: {
                        gridcolor: "white",
                        linecolor: "white",
                        ticks: "",
                      },
                    },
                    ternary: {
                      bgcolor: "#E5ECF6",
                      aaxis: { gridcolor: "white", linecolor: "white", ticks: "" },
                      baxis: { gridcolor: "white", linecolor: "white", ticks: "" },
                      caxis: { gridcolor: "white", linecolor: "white", ticks: "" },
                    },
                    coloraxis: { colorbar: { outlinewidth: 0, ticks: "" } },
                    colorscale: {
                      sequential: [
                        [0.0, "#0d0887"],
                        [0.1111111111111111, "#46039f"],
                        [0.2222222222222222, "#7201a8"],
                        [0.3333333333333333, "#9c179e"],
                        [0.4444444444444444, "#bd3786"],
                        [0.5555555555555556, "#d8576b"],
                        [0.6666666666666666, "#ed7953"],
                        [0.7777777777777778, "#fb9f3a"],
                        [0.8888888888888888, "#fdca26"],
                        [1.0, "#f0f921"],
                      ],
                      sequentialminus: [
                        [0.0, "#0d0887"],
                        [0.1111111111111111, "#46039f"],
                        [0.2222222222222222, "#7201a8"],
                        [0.3333333333333333, "#9c179e"],
                        [0.4444444444444444, "#bd3786"],
                        [0.5555555555555556, "#d8576b"],
                        [0.6666666666666666, "#ed7953"],
                        [0.7777777777777778, "#fb9f3a"],
                        [0.8888888888888888, "#fdca26"],
                        [1.0, "#f0f921"],
                      ],
                      diverging: [
                        [0, "#8e0152"],
                        [0.1, "#c51b7d"],
                        [0.2, "#de77ae"],
                        [0.3, "#f1b6da"],
                        [0.4, "#fde0ef"],
                        [0.5, "#f7f7f7"],
                        [0.6, "#e6f5d0"],
                        [0.7, "#b8e186"],
                        [0.8, "#7fbc41"],
                        [0.9, "#4d9221"],
                        [1, "#276419"],
                      ],
                    },
                    xaxis: {
                      gridcolor: "white",
                      linecolor: "white",
                      ticks: "",
                      title: { standoff: 15 },
                      zerolinecolor: "white",
                      automargin: true,
                      zerolinewidth: 2,
                    },
                    yaxis: {
                      gridcolor: "white",
                      linecolor: "white",
                      ticks: "",
                      title: { standoff: 15 },
                      zerolinecolor: "white",
                      automargin: true,
                      zerolinewidth: 2,
                    },
                    scene: {
                      xaxis: {
                        backgroundcolor: "#E5ECF6",
                        gridcolor: "white",
                        linecolor: "white",
                        showbackground: true,
                        ticks: "",
                        zerolinecolor: "white",
                        gridwidth: 2,
                      },
                      yaxis: {
                        backgroundcolor: "#E5ECF6",
                        gridcolor: "white",
                        linecolor: "white",
                        showbackground: true,
                        ticks: "",
                        zerolinecolor: "white",
                        gridwidth: 2,
                      },
                      zaxis: {
                        backgroundcolor: "#E5ECF6",
                        gridcolor: "white",
                        linecolor: "white",
                        showbackground: true,
                        ticks: "",
                        zerolinecolor: "white",
                        gridwidth: 2,
                      },
                    },
                    shapedefaults: { line: { color: "#2a3f5f" } },
                    annotationdefaults: {
                      arrowcolor: "#2a3f5f",
                      arrowhead: 0,
                      arrowwidth: 1,
                    },
                    geo: {
                      bgcolor: "white",
                      landcolor: "#E5ECF6",
                      subunitcolor: "white",
                      showland: true,
                      showlakes: true,
                      lakecolor: "white",
                    },
                    title: { x: 0.05 },
                    mapbox: { style: "light" },
                    autosize: true,
                    modebar: {
                      activecolor: "#06b6d4",
                      color: "#aaaaaa",
                      bgcolor: "transparent",
                      remove: [
                        "zoom",
                        "zoomin",
                        "zoomout",
                        "autoscale",
                        "toimage"
                      ]
                    },
                    dragmode: "pan"
                  },
                },
                xaxis: { 
                  showgrid: false, 
                  zeroline: false,
                  range: ["2024-02-18T15:20:00", "2024-02-18T16:59:00"],
                },
                yaxis: {
                  gridcolor: "grey",
                  zerolinecolor: "grey",
                  range: [2, 20],
                  fixedrange: true,
                },
                shapes: [
                  {
                    fillcolor: "green",
                    line: { width: 0 },
                    opacity: 0.2,
                    type: "rect",
                    x0: 0,
                    x1: 1,
                    xref: "x domain",
                    y0: 3.9,
                    y1: 9,
                    yref: "y",
                  },
                ],
              },
              { responsive: true }
            );
          }
          resize_()
          function resize_() {
            var plot = document.getElementById("05157df0-c8a6-41fd-8480-a60e5820656c");
            Plotly.Plots.resize(plot);
          }
          document.getElementById("05157df0-c8a6-41fd-8480-a60e5820656c").on('plotly_relayout', function(eventdata) {
            let max_x_value = new Date("2024-02-18 16:59:00Z")
            if (eventdata['xaxis.range[0]'] !== undefined) {
              // Ensure that the maximum x value is not exceeded
              var new_max_x = new Date(Math.min(new Date(eventdata['xaxis.range[1]'] + 'Z'), max_x_value));
              var plot = document.getElementById("05157df0-c8a6-41fd-8480-a60e5820656c");

              // Need to update both ways for some reason.
              plot.layout.xaxis.range[1] = new_max_x.toISOString();
              Plotly.update(plot, {'xaxis.range[1]': ''});
            }
          });
        </script>
        <div class="border-dashed border-2 border-red-400">
          <div class="m-2 flex-initial top-0 right-0 bg-slate-300 rounded-lg shadow p-4 aspect-square">
            <div class="text-center text-6xl aspect-square">
              4.1
            </div>
            <div>
              <img src="../../static/icons8-arrow-96.png" class="m-auto rotate-45"/> 
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="h-max bg-red-300 bottom-0 static">Foot!</footer>
  </body>
</html>
