{# Base template for pages #} {% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'output.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    {% comment %} <script
      src="https://cdn.plot.ly/plotly-2.27.0.min.js"
      charset="utf-8"
    ></script> {% endcomment %}
    <script 
      src="https://unpkg.com/htmx.org@1.9.11" 
      integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" 
      crossorigin="anonymous"
    ></script>
    <title>Glu.ui - Diabetes Management</title>
  </head>

  <body>
    {# Page layout #} 
    {% block layout %}{% endblock %} 
    {# Additional Javascript #} 
    {% block javascript %}{% endblock %}
  </body>
</html>
