{% extends 'layout.html' %}
{% load static %} 
{% block content %}
<div
  class="h-min-80 mb-1 mr-1 flex flex-grow gap-2 rounded-lg bg-slate-200 p-2 shadow"
>
  <div class="flex-grow border-2 border-dashed border-red-400">
    <div
      class="right-0 top-0 m-2 flex-initial rounded-lg bg-slate-300 p-1 shadow"
    >
      {% if sources %}
      <table>
        <tr>
          <th>Source</th>
          <th>Type</th>
          <th>Added</th>
        </tr>
        {% for source in sources %}
        <tr>
          <td>{{ source.name }}</td>
          <td>{{ source.type }}</td>
          <td>{{ source.created_at }}</td>
          <td>
            <button 
              hx-confirm="Delete source?" 
              hx-delete="/sources/{{ source.id }}"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}", "X-Requested-With": "XMLHttpRequest"}'
              hx-target="closest tr"
              hx-swap="outerHTML swap:1s"
            >  
              Delete
            </button>
          </td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <div>No data sources</div>
      {% endif %}
    </div>
    {% comment %} <a href="{% url 'sources:new_source' %}">
      <div
        class="m-1 h-8 w-32 rounded-lg bg-cyan-500 text-center align-middle text-slate-200 shadow hover:bg-cyan-200 hover:text-slate-600"
      >
        Add Data Source
      </div>
    </a>    {% endcomment %}
    <a
      class="m-1 p-2 h-8 w-auto rounded-lg bg-cyan-500 text-center align-middle text-slate-200 shadow hover:bg-cyan-200 hover:text-slate-600"
      href="{% url 'sources:new_source' %}"
    >
      Add Data Source
    </a>    
  </div>
</div>
{% endblock %}
