{# Base layout with navbar and page content #} {% extends 'base.html' %} 
{% load static %} 
{% block layout %}
<div class="flex h-screen flex-col justify-stretch bg-slate-100">
  <header>
    {% block header %}
    <div
      class="w-screen[-2] m-1 flex items-center justify-between rounded-lg bg-slate-200 shadow"
    >
      <div class="flex items-center">
        <a href="#home">
          <img
            src="{% static 'pinglu_transparent.png' %}"
            class="m-2 size-20 rounded-lg"
          />
        </a>
        <h1 class="text-4xl font-semibold text-slate-600">Glu.ui/Iglu</h1>
      </div>
      <div class="flex flex-row">
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <button type="submit" class="group text-slate-200">
            <div
              class="m-1 h-8 w-32 rounded-lg bg-cyan-500 text-center align-middle shadow hover:bg-cyan-200 group-hover:text-slate-600"
            >
              Log out
            </div>
          </button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">
          <div
            class="m-1 h-8 w-32 rounded-lg bg-cyan-500 text-center align-middle text-slate-200 shadow hover:bg-cyan-200 hover:text-slate-600"
          >
            Log in
          </div>
        </a>
        {% endif %}
      </div>
    </div>
    {% endblock %}
  </header>
  <main class="flex flex-grow">
    {% include 'navbar.html' %} {% block content %} {% endblock %}
  </main>
  <footer>
    {% block footer %}
    <div class="w-screen[-2] m-1 rounded-lg bg-slate-200 shadow">
      {% lorem 1 b random %}
    </div>
    {% endblock %}
  </footer>
</div>
{% endblock %}
